<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mainsite</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
	<div class="navbar-collapse collapse">
		<div  class="container-fluid position-center">
			<%= render 'layouts/navigation' %>
		</div>
	</div>
	<div class="container-fluid">
		<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
		<% end %>
	</div>
	<%= yield %>
	<%= yield(:place_for_modal) %>
</body>
</html>
